@use './abstract/variaveis';
@use '../styles/abstract/mixins';

header {
    background: variaveis.$gradiente-primario;
    padding: 2rem;
    background-size: cover; /* Define o tamanho do background para cobrir todo o elemento */
    background-position: center; /* Centraliza o background */

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        .linha{
            border-top: 2px solid black;
            width: 80%;
        }

        ul {
            display: inline-flex;
            gap: 2rem;
            li {
                list-style-type: none;
            }
            a {
                @include mixins.ff-fs-cl(variaveis.$ft-textos, 1rem,variaveis.$cor-primaria);
                text-decoration: none;
                font-weight: 500;
            }
        }
    }

    #home{
        max-width: 1040px;
        @include mixins.margem-central(80%);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .textos-home{
            max-width: 464px;
            h1{
                @include mixins.ff-fs-cl(variaveis.$ft-titulos, 42px,variaveis.$cor-primaria);
                margin-bottom: 2rem;
                span{
                    color: variaveis.$cor-secundaria;
                }
            }

            button{
                @include mixins.ff-fs-cl(variaveis.$ft-textos, 22px,white);
                background-color: variaveis.$cor-secundaria;
                border-radius: 40px;
                border: none;
                padding: 24px;
                width: 280px;
                font-weight: 600;
        }
        }
        .img-home{
            max-width: 464px;
            img{
                width: 100%;
            }
        }

    }

  }